:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #838977;
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  color: #838977;
}

p {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 200;
  color: black;
}

.icon {
  color: #838977;
  font-size: 2rem;
}

.buttons-container {
  width: 130px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general-button {
  min-width: 60px;
  height: 60px;
  background-color: white;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.general-button:hover {
  background-color: #838977;
}

.general-button:hover .icon {
  color: #E0E5D6;
}

/*---HEADER -------*/
header {
  background-color: #E0E5D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

/*---SIDE NAV -------*/
nav {
  width: 100%;
  height: 100px;
  background-color: #838977;
  position: fixed;
  top: 50px;
  left: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  list-style: none;
}

nav ul li {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #838977;
  border: 1px solid #E0E5D6;
}

nav ul li:hover .icon {
  color: #E0E5D6;
}

/*---MAIN--------*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 50px;
  margin-top: 150px;
}

.teams-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teams-container h1 {
  width: 100%;
  padding-bottom: 50px;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  color: #838977;
  letter-spacing: 2px;
}

.teams-container__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.teams-container__list-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.teams-container__image {
  width: 100%;
  height: 250px;
  padding: 40px;
  background-color: rgba(224, 229, 214, 0.4);
}

.teams-container__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.teams-container__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E0E5D6;
  padding: 10px;
}

.teams-container__info img {
  width: 100%;
  height: 200px;
  background-color: rgba(224, 229, 214, 0.4);
  -o-object-fit: contain;
     object-fit: contain;
}

/*----TEAM PAGE---------*/
.team-page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-page__description {
  width: 100%;
  margin-bottom: 50px;
}

.team-page__description h1 {
  width: 100%;
  padding-bottom: 30px;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  color: #838977;
  letter-spacing: 2px;
}

.team-page__description p {
  margin-top: 50px;
}

.team-page__payers-container {
  width: 100%;
}

.team-page__payers-container h1 {
  width: 100%;
  padding-bottom: 30px;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  color: #838977;
  letter-spacing: 2px;
}

.team-page__player-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-page__player-list-item {
  width: 100%;
  background-color: #E0E5D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.team-page__player-list-item .player-thumb {
  width: 60px;
  height: 60px;
  background-color: grey;
  border-radius: 50%;
  overflow: hidden;
}

.team-page__player-list-item .player-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-page__player-list-item h2 {
  width: auto;
}

.team-page__player-list-item .buttons-container button > svg {
  pointer-events: none;
}

.team-page__player-list-item .player-edit {
  width: 100%;
  display: none;
}

.team-page__player-list-item .player-edit form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0 10px 0;
}

.team-page__player-list-item .player-edit form input {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  border: 0;
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 1.2rem;
}

.team-page__player-list-item .player-edit form button {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background-color: #838977;
  border: 0;
  font-size: 1.2rem;
  color: #E0E5D6;
}

.team-page__player-addition {
  width: 100%;
  background-color: #838977;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-page__player-addition form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 10px 10px 10px;
}

.team-page__player-addition form input {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  border: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 1.5rem;
  padding: 0 20px;
  color: #838977;
  margin-bottom: 10px;
}

.team-page__player-addition form input:focus {
  outline: none;
}

.team-page__player-addition form button {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background-color: #838977;
  border: 2px solid #E0E5D6;
  font-size: 1.2rem;
  color: #E0E5D6;
  cursor: pointer;
}

.team-page__player-addition form button:hover {
  background-color: #E0E5D6;
  color: #838977;
}

/*---------------------------MEDIA QUERIES-----------------------------------------------*/
@media screen and (min-width: 980px) {
  /*---HEADER -------*/
  header {
    height: 100px;
  }
  header h1 {
    font-size: 2rem;
  }
  /*---SIDE NAV -------*/
  nav {
    width: 100px;
    height: calc(100vh - 100px);
    top: 100px;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px;
  }
  nav ul li {
    margin-bottom: 20px;
  }
  /*---MAIN -----*/
  main {
    width: calc(100% - 100px);
    margin-left: 100px;
    margin-top: 100px;
  }
  .teams-container__list-item {
    width: 30%;
  }
  .team-page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .team-page__description {
    width: 100%;
    margin-bottom: 0;
    padding-right: 50px;
  }
}
/*# sourceMappingURL=App.css.map */