:root {
    font-size: 16px;
}

$primary-color: #838977;
$secondary-color: #E0E5D6;

$primary-font: 'Helvetica', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    font-family: $primary-font;
    font-size: 1rem;
    text-transform: uppercase;
    color: $primary-color;
}

h2 {
    font-family: $primary-font;
    font-size: 1.3rem;
    font-weight: 100;
    color: $primary-color;
}

p {
    font-family: $primary-font;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 200;
    color: black;
}


/*---HEADER -------*/

header {
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}














/*---------------------------MEDIA QUERIES-----------------------------------------------*/

@media screen and (min-width: 980px) {

    header {
        height: 100px;
        h1 {
            font-size: 2rem;
        }
    }

}