:root {
    font-size: 16px;
}

$primary-color: #838977;
$secondary-color: #E0E5D6;

$primary-font: 'Helvetica', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    font-family: $primary-font;
    font-size: 1rem;
    text-transform: uppercase;
    color: $primary-color;
}

h2 {
    font-family: $primary-font;
    font-size: 1.3rem;
    font-weight: 100;
    color: $primary-color;
}

p {
    font-family: $primary-font;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 200;
    color: black;
}

.icon {
    color: $primary-color;
    font-size: 2rem;
}

.buttons-container {
    width: 130px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.general-button {
    min-width: 60px;
    height: 60px;
    background-color: white;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $primary-color;
        .icon {
            color: $secondary-color;
        }
    }
}


/*---HEADER -------*/

header {
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

/*---SIDE NAV -------*/


nav {
    width: 100%;
    height: 100px;
    background-color: $primary-color;
    position: fixed;
    top: 50px;
    left: 0;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
        list-style: none;
        li {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            cursor: pointer;
            &:hover {
                background-color: $primary-color;
                border: 1px solid $secondary-color;
                .icon {
                    color: $secondary-color;
                }
            }
        }
    }
}


/*---MAIN--------*/

main {
    display: flex;
    width: 100%;
    padding: 50px;
    margin-top: 150px;
}

.teams-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    h1 {
        width: 100%;
        padding-bottom: 50px;
        font-family: $primary-font;
        text-transform: uppercase;
        color: $primary-color;
        letter-spacing: 2px;
    }
    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
        }
    }
    &__image {
        width: 100%;
        height: 250px;
        padding: 40px;
        background-color: rgba($secondary-color, 0.4);
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__info {img {
                width: 100%;
                height: 200px;
                background-color: rgba($secondary-color, 0.4);
                object-fit: contain;
            }
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $secondary-color;
        padding: 10px;
    }
}


/*----TEAM PAGE---------*/

.team-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__description {
        width: 100%;
        margin-bottom: 50px;
        h1 {
            width: 100%;
            padding-bottom: 30px;
            font-family: $primary-font;
            text-transform: uppercase;
            color: $primary-color;
            letter-spacing: 2px;
        }
        p {
            margin-top: 50px;
        }
    }
    &__payers-container {
        width: 100%;
        h1 {
            width: 100%;
            padding-bottom: 30px;
            font-family: $primary-font;
            text-transform: uppercase;
            color: $primary-color;
            letter-spacing: 2px;
        }
    }
    &__player-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        &-item {
            width: 100%;
            background-color: $secondary-color;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            margin-bottom: 20px;
            .player-thumb {
                width: 60px;
                height: 60px;
                background-color: grey;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            h2 {
                width: auto;
            }
            .buttons-container {
                button > svg {
                    pointer-events: none;
                }
            }
            .player-edit {
                width: 100%;
                display: none;
                form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 20px 0 10px 0;
                    input {
                        width: 100%;
                        height: 60px;
                        border-radius: 30px;
                        border: 0;
                        margin-bottom: 10px;
                        padding: 0 20px;
                        font-size: 1.2rem;
                    }
                    button {
                        width: 100%;
                        height: 60px;
                        border-radius: 30px;
                        background-color: $primary-color;
                        border: 0;
                        font-size: 1.2rem;
                        color: $secondary-color;
                    }
                }
            }
        }
    }
    &__player-addition {
        width: 100%;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        form {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px 10px 10px 10px;
            input {
                width: 100%;
                height: 60px;
                border-radius: 30px;
                border: 0;
                font-family: $primary-font;
                font-size: 1.5rem;
                padding: 0 20px;
                color: $primary-color;
                margin-bottom: 10px;
                &:focus {
                    outline: none;
                }
            }
            button {
                width: 100%;
                height: 60px;
                border-radius: 30px;
                background-color: $primary-color;
                border: 2px solid $secondary-color;
                font-size: 1.2rem;
                color: $secondary-color;
                cursor: pointer;
                &:hover {
                    background-color: $secondary-color;
                    color: $primary-color;
                }
            }
        }
    }
}











/*---------------------------MEDIA QUERIES-----------------------------------------------*/

@media screen and (min-width: 980px) {

    /*---HEADER -------*/

    header {
        height: 100px;
        h1 {
            font-size: 2rem;
        }
    }

    /*---SIDE NAV -------*/

    nav {
        width: 100px;
        height: calc(100vh - 100px);
        top: 100px;
        ul {
            flex-direction: column;
            justify-content: flex-start;
            padding: 20px;
            li {
                margin-bottom: 20px;
            }
        }
    }

    /*---MAIN -----*/

    main {
        width: calc(100% - 100px);
        margin-left: 100px;
        margin-top: 100px;
    }

    .teams-container {
        &__list {
            &-item {
                width: 30%;
            }
        }
    }

    .team-page {
        flex-direction: row;
        &__description {
            width: 100%;
            margin-bottom: 0;
            padding-right: 50px;
        }
    }

}